html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: '굴림체';
    font-size: 1rem;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(120, 148, 86);
    padding: 20px 40px;
    margin: 0;
    font-weight: bolder;
    font-family: '돋움';
    background: linear-gradient(rgb(172, 219, 137), rgb(231, 247, 207));
    box-shadow: inset 0px 2px rgb(221, 240, 195);
    font-size: 12pt;

    a {
        text-decoration-line: none;
        color: black;
    }

    > .post {
        display: flex;

        .post-item {
            padding-left: 3rem;
        }
    }
}

main {
    // border: 1px solid blue;
    flex: 1;
    display: flex;
}

.home {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-img {
        max-width: 500px;
        width: 80%;
    }
}

.profile {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    > .profile-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 80%;
        max-width: 500px;

        > .image {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;

            > img {
                width: 100px;
            }
        }

        > .text {
            flex: 2;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem 1rem 1rem 0;

            li {
                margin: 0.5rem 0;
                padding: 0;
                ul {
                    margin: 0;
                    padding-left: 2rem;
                }
            }

            img {
                width: 20px;
            }
        }
    }
}

.category {
    font-family: '돋움';
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    > .menu-list {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0 2rem;
        }

        li {
            margin: 0.5rem 0;
            padding: 0;
        }
    }
}
