@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

$header-height: 56px;

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: '굴림체';
    font-size: 1rem;
    line-height: 1.4;
    overflow-wrap: break-word;
}

.post-meta {
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 3rem;
}

hr {
    margin: 2rem 0;
}

p {
    margin: 1rem 0;
}

li {
    margin: 0.4rem 0;
}

*:target {
    background: yellow;
}

hr {
    text-align: center;
    border: 0;

    &:before {
        content: '=====';
    }
    &:after {
        content: attr(data-content) '=====';
    }
}

table {
    width: 100%;
}

table,
th,
td {
    border: thin solid black;
    border-collapse: collapse;
    padding: 0.4rem;
}
@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/one-dark.css');
// @import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/cobalt.css');
// @import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/848d6580/stylesheets/monokai.css');

.gist * {
    font-family: '굴림체';
    font-size: 1rem;
    background: black !important;
}

.gist-file {
    padding: 1rem;
    border: unset !important;
    border-radius: 0 !important;
}

.gist-data {
    padding: 20x;
    border: unset !important;
    border-radius: 0 !important;
}

.gist-meta {
    display: none;
}

.gist-data .pl-s .pl-s1 {
    color: #a5c261;
}

.blob-num {
    display: none;
}

code {
    padding: 1px 4px 1px 2px;
    color: white;
    background: black;
}

div.highlighter-rouge code {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem;
}

blockquote {
    font-style: italic;
    border: thin solid black;
    padding: 1rem;

    p {
        margin: 0;
    }
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(120, 148, 86);
    padding: 0 40px;
    margin: 0;
    font-weight: bolder;
    font-family: '돋움';
    background: linear-gradient(rgb(172, 219, 137), rgb(231, 247, 207));
    box-shadow: inset 0px 2px rgb(221, 240, 195);
    font-size: 12pt;
    min-height: $header-height;

    a {
        text-decoration-line: none;
        color: black;
    }

    > .post-item {
        display: flex;

        > a {
            padding-left: 3rem;
        }
    }
}

main {
    // border: 1px solid blue;
    flex: 1;
    display: flex;
}

.home {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-img {
        max-width: 500px;
        width: 80%;
    }
}

.profile {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    > .profile-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 80%;
        max-width: 500px;

        > .image {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;

            > img {
                width: 100px;
            }
        }

        > .text {
            flex: 2;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem 1rem 1rem 0;

            li {
                margin: 0.5rem 0;
                padding: 0;
                ul {
                    margin: 0;
                    padding-left: 2rem;
                }
            }

            img {
                width: 20px;
            }
        }
    }
}

.category {
    font-family: '돋움';
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    > .menu-list {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0 2rem;
        }

        li {
            margin: 0.5rem 0;
            padding: 0;
        }
    }
}

.post-list {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post {
    flex: 1;
    display: flex;

    > .nav {
        box-shadow: inset -1px 0px #808080, inset 1px 1px #ffffff,
            inset -1.5px 0px #808080, inset 2px 2px #dfdfdf;
        width: 20%;
        max-width: 25rem;

        > .sticky-nav {
            position: sticky;
            top: 0px;
            border-top: 1px solid rgb(204, 204, 204);

            > .tab {
                margin: 2px;
                display: flex;

                > button {
                    background: linear-gradient(
                        rgb(250, 250, 251),
                        rgb(220, 220, 220)
                    );
                    font-family: '굴림';
                    font-size: 12px;
                    flex: 1;
                    border: none;
                    border-bottom: 2px solid rgb(204, 204, 204);
                    box-shadow: 0 1.5px rgb(153, 153, 153),
                        0 -1.5px rgb(255, 255, 255);
                    outline: none;
                    cursor: pointer;
                    height: 36px;

                    &:hover {
                        background-color: #ddd;
                    }
                }

                > button.active {
                    font-weight: bold;
                    background: linear-gradient(
                        rgb(216, 216, 216),
                        rgb(220, 220, 220)
                    );
                }
            }

            > .tabcontent {
                padding: 0.5rem 2.3rem;

                ul {
                    padding-right: 0;
                }
            }

            ul {
                position: -webkit-sticky; /* 사파리 브라우저 지원 */
                position: sticky;
                top: 1rem;
                padding: 5px 1rem;

                li {
                    margin: 0;
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        .nav {
            display: none;
        }
    }

    > .content {
        width: 80%;
        max-width: 640px;
        margin: 0 auto;
        padding: 4rem 2rem;

        .origin {
            border-top: 1px solid black;
            padding: 20px 10px;
            margin: 50px 0;
        }
    }

    @media screen and (max-width: 1024px) {
        .content {
            flex: 1;
        }
    }
}
